html{
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

.section-title h3{
  font-weight: bolder;
  margin-bottom: 2px;
  font-weight: bolder;
  font-size: 2rem;
  
}

 /* =====================
       header start
  ======================= */
header{
  background-image: url(image/Banner\ 2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar{
  background-color: rgba(33, 222, 99, 0.09);
  padding: 0 3%;
}

.banner-container{
  height: 100vh;
}
.navbar-icon{
  color: rgb(0, 0, 0);
}
.nav-link{
  color: rgb(0, 0, 0);
  font-size: 17px;
  margin-right: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.nav-link:hover{
  background-color: rgb(49, 49, 179);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}
.nav-link form .btn{
  background-color: rgb(10, 232, 40);
  color: rgb(14, 0, 13);
}
 form .btn:hover{
  background-color: rgb(17, 255, 247);
  border: 2px solid rgb(241, 241, 240);
  transform: scale(1.05);
  color: black;
}
 /* =====================
       header end
  ======================= */

  /* main section start */

  /* =======================
       feature section start
    ========================== */

#feature{
  background-color: rgb(200, 163, 245);
  padding: 5% 10%;
  color: blueviolet;
}
.feature-contents{
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #7bceff;
  padding: 15px;
  margin: 20px 0;
  transition: 0.4s;
  box-shadow: 0 0 8px rgb(27, 36, 48);
}
.feature-contents:hover{
  transform: scale(1.1);
  box-shadow: 2px 3px 5px rgb(69, 54, 74);
}
#feature .icon-style{
  color: rgb(252, 255, 255);
  border: 1px solid transparent;
  padding: 13px;
  border-radius: 50%;
  background-color: #384d5e;
}
.feature-contents h5{
  color: #383f82;
}
.feature-contents p{
  color: #604875;
}

 /* =======================
      feature section end
    ========================== */

    /* =======================
        about section start 
    ========================*/

#about-me{
  padding: 4% 10%;
  background-color: rgb(233, 210, 250);
}
#about-me .icon-style{
  color: rgb(5, 244, 252);
  border: 1px solid transparent;
  padding: 13px;
  border-radius: 50%;
  background-color: #384d5e;
}
#about-me h5{
  color: #7803ff;
  font-size: 22px;
  text-decoration: underline;
  font-style: italic;
}
#about-me p{
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: light;
}
#about-me a{
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
#about-me a:hover{
  background-color: #fff700;
  color: rgb(0, 0, 0);
  transform: scale(1.5);
  text-decoration: none;
  padding: 3px 7px;
}
/* #about-me button{
  background-color: rgb(48, 48, 255);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
  transition: .4s;
} */
#about-me button:hover{
  background-color: rgb(0, 255, 191);
  color: black;
  transform: scale(1.1);
}
.achievements span{
  font-weight: 700;
}

    /* =======================
        about section end 
    ========================*/

     /* =======================
       tutorial section start
    ========================*/

#tutorial{
  background-color: #7bceff;
  padding: 4% 10%;
}
#tutorial .card{
  background-color: rgb(236, 229, 199);
  border: none;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  transition: 0.3s;
}
#tutorial .card:hover{
  transform: scale(1.05);
  box-shadow: 4px 6px 8px rgb(76, 75, 75);
}

    /* =======================
       tutorial section end
    ========================*/

  /* =======================
       feedback section start
    ========================*/

#feedback{
  background-color: #384d5e;
  padding: 5%;
}
#feedback .carousel-inner{
  text-align: center;
  font-style: italic;
  padding: 5% 15%;
  
}
#feedback .carousel-inner img{
  width: 120px;
  height: auto;
  margin-bottom: 5px;
  margin-top: 3px;
}
#feedback .carousel-inner p{
  color: #00ff91;
}
#feedback .carousel-inner h5{
  color: rgb(255, 251, 0);
}
 
/* =======================
       feedback section end
    ========================*/

    /*==================
       contact start 
     ===============*/

#contact{
  padding: 2% 10%;
  background-color: rgb(134, 6, 245);
}

    /*==================
       contact end
     ===============*/

  /* main section end */

  /* footer start */

footer{
  padding: 5px 10px;
  background-color: #0d5051;
  color: aliceblue;
}
footer a{
  text-decoration: none;
  color: #ffffff;
  margin: 0 5px;
  font-size: 17px;
}
footer a:hover{
  color: rgb(255, 153, 0);
}

  /* footer start */